<div class="flex justify-center items-center w-full h-full">
  <canvas #canvas class="h-1/2 w-1/2"> </canvas>

  <div class="flex flex-col">
    <div class="flex gap-2">
      <input
        type="radio"
        name="strategy"
        value="Bubble Sort"
        (input)="setStrategy(0)"
      />
      <label>Bubble Sort</label>
      <input
        type="radio"
        name="strategy"
        value="Quicksort"
        (input)="setStrategy(1)"
        checked
      />
      <label>Quicksort</label>
    </div>
    <button
      class="border border-gray-300 rounded-md px-5 py-1 hover:bg-gray-50 active:bg-gray-100"
      (click)="sort()"
    >
      Sort
    </button>
    <small>Array Size: {{ arrSize() }}</small>
    @if (timeElapsed()) {
      <small>Time Taken: {{ timeElapsed() }}ms</small>
    }
  </div>
</div>
